@keyframes intro-image-mobile {
  100% {
    fill: #fff;
  }
}

.main-intro {
  display: flex;
  justify-content: space-between;
  padding-top: 4.6%;
  background: url('../../img/svg/a-letter.svg') center / auto 100% no-repeat;

  &__title {
    font-size: 96px;
    line-height: 1;
    font-weight: normal;
    color: $color-neon-blue;
    align-self: flex-end;
    width: 59%;
  }

  &__description {
    width: 37%;
  }

  &__image {
    width: 77%;
    margin-bottom: 26px;
  }

  &__text {
    font-size: 30px;
    line-height: 40px;
  }
}

.main-body--animate {
  .main-intro {

    &__title,
    &__description {
      animation-name: block-fadeout-up;
      animation-fill-mode: backwards;
      animation-duration: .3s;
      animation-timing-function: ease;
    }

    &__title {
      animation-delay: .75s;
    }

    &__description {
      animation-delay: .95s;
    }
  }
}

@media (max-width: 1024px) {
  .main-intro {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background: none;

    &__title {
      align-self: auto;
      transition: opacity .3s ease;
    }


    &__description {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 27%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-neon-blue;
        transform: translateX(-100vw);
        transition: transform .7s ease;
        z-index: -1;
      }
    }

    &__text {
      color: #fff;
      opacity: 0;
      transition: opacity .4s ease .9s;
    }

    &__image {
      opacity: 0;
      transition: opacity .7s ease .7s;
    }

    &.active {
      .main-intro__title {
        opacity: 0;
        user-select: none;
      }

      .main-intro__description {
        &::before {
          transform: translateX(0);
        }
      }

      .main-intro__image {
        opacity: 1;

        .lightnings path,
        .flag,
        .breathe {
          animation-name: intro-image-mobile;
          animation-duration: 0;
          animation-fill-mode: forwards;
        }
      }

      .main-intro__text {
        opacity: 1;
      }

      &.doubleclicked {
        .main-intro__description::before {
          transform: translateX(-100vw);
          transition: transform .7s ease;
        }

        .main-intro__image {

          .lightnings path,
          .flag,
          .breathe {
            animation: none;
          }
        }

        .main-intro__text {
          color: #000;
          transition: color .3s ease;
        }
      }
    }
  }
}
