.main-nav {
  &__menu-btn {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include list-reset;

  }

  &__item {
    position: relative;
    margin-left: 26px;

    &--special {
      &:last-child {
        margin-right: 12px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0.2em;
        right: -10px;
        display: block;
        width: 5px;
        height: 5px;
        background: url('../../img/svg/header-link-arrow.svg') 0 0 / 100% auto no-repeat;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1;
    color: #0B0B0B;
    transition: color .2s ease;

    &:hover {
      color: $color-neon-blue;
    }
  }
}


@media (max-width: 1024px) {
  .main-nav {

    &__menu-btn {
      font-size: 0;
      line-height: 0;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      padding: 0;
      margin-left: auto;
      margin-top: 2px;
      z-index: 2;
      cursor: pointer;
      border: none;
      background: none;

      .inner {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 2px;
        background: $color-neon-blue;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 30px;
          height: 2px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          background: $color-neon-blue
        }

        &::before {
          top: 8px;
        }

        &::after {
          top: 16px;
        }
      }

      &.active {
        .inner {
          transform: translate3d(0, 7px, 0) rotate(45deg);

          &::before {
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            opacity: 0;
          }

          &::after {
            transform: translate3d(0, -17px, 0) rotate(-90deg);
          }
        }
      }
    }

    &__list {
      position: fixed;
      right: 0;
      top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      height: 0vh;
      background: #fff;
      transition: height .4s ease;
      overflow: hidden;
      pointer-events: none;
      z-index: -1;


      &.active {
        height: 100vh;
        pointer-events: all;
      }
    }

    &__item {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__link {
      font-size: 28px;
      line-height: 1;
      font-weight: 500;
    }
  }
}
